.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.selectContainer{
    display: flex;
    flex-direction: column;
}

.selectText{
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
}